.link {
  margin-top: 16px;
  padding: 4px 12px 4px 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 5px solid #f8cba6;
  background-color: #fffbeb;
}
.foreword {
  padding: 12px 12px 12px 16px;
  background-color: #ecf9ff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 5px solid #439dd3;
}
.quote {
  background-color: #ffe7cc;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
}
